@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}

.btn {
    color: #fff;
    font-size: 1.5em;
    padding: .6em 1em;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #333;
    display: inline-block;
    position: relative;
}

.btn-awesome {
    font-family: Helvetica;
    background-color: tomato;
    background-image: linear-gradient(tomato 0%, white 500%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 3px rgba(0, 0, 0, .2);
    border: 1px solid #d7c6b3;
}

.Site {
    background-color: #FFFFFF;
    min-height: 100%;
    min-width: 270px;
    margin: 0px;
}

.Site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    background: transparent;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .1);
}

.u-sticky-header {
    position: fixed;
    z-index: 1000;
    top: 0px;
}

.Icon-box-on-box:before {
    content: "⧉";
}
